<%- include('../partials/header') %>
<h1>Create Ticket</h1>
<form id = "ticket-form" action="/tickets/add" method="POST">
    <input type="hidden" name = "flight" value="<%=flight.id%>">
    <div>
        <label>Seat:</label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
    </div>
    <div>
        <label>Price:</label>
        <input type="text" name="price">
    </div>
    <input type="submit" value="Add Ticket">
</form>