body {
  max-width: 850px;
  min-width: 850;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}
a {
  color: #00B7FF;
}

nav{
  display:flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 30px;
}
h1, #flight-number{
  text-align: center;
}
.label {
  font-weight: bold;
}

#index-flights{
  border: solid white 3px;
  padding: 15px;
  margin: 15px;
}

img[alt='airplane']{
  width: 100px;
  position: relative;
  right: 15px;
  top: 40px;
}

#new-flight{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid white 10px;
}

.form-input{
  margin: 70px;
}

#flight-submit{
  position: absolute;
  right: 15;
  bottom: 10px;
}

#details{
  position: relative;
  left:700px;
  bottom: 5px;
}

#flight-details, #flight-arrivals, #add-destination, #tickets{
  border: solid white 10px;
  margin: 15px;
  padding: 10px;
}

label{
  font-weight: bold;
}

#ticket-display{
  /* border-top: solid white 5px ; */
  border-bottom: solid white 5px;
}

#ticket-form{
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
}
#ticket-form > div{
  margin-left: 5px;
}

#ticket-form > input[type="submit"]{
  margin-left: 5px;
}

#add-ticket{
  display: inline-block;
  padding: 2px 4px 2px 4px;
  background-color: #eaeaea;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  text-align: center;
}
#add-ticket:hover {
  cursor: pointer;
  background-color: lightgrey;
  border-color: black;
}